<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="body">
  <div class="container mt-3">
    <h2>사용자 관리</h2>
    <table class="table">
      <thead>
      <tr>
        <th>사용자명</th>
        <th>가입일자</th>
        <th>최근접속일자</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${userList}">
        <td>사용자명</td>
        <td>가입일자</td>
        <td>최근접속일자</td>
        <td><button >버튼</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</html>