<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="body">
  <div class="container mt-3">
    <h2>사용자 관리</h2>
    <table class="table">
      <thead>
      <tr>
        <th>사용자명</th>
        <th>가입일자</th>
        <th>최근접속일자</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user, userIdx : ${userList}">
        <td><span th:text="${user.username}"></span></td>
        <td><span th:text="${user.atCreated}"></span></td>
        <td><span th:text="${user.latestAccessTime}"></span></td>
        <td><button th:attr="onclick=|btn_delete_onclick('${user.userId}')|" th:id='|btn_delete-${userIdx.index}|'>삭제</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


</html>